body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif;
	line-height: 1.6;
	max-width: 800px;
	margin: 2rem auto;
	padding: 0 1rem;
	color: #333;
	background-color: #fdfdfd;
}

h1,
h2,
h3 {
	color: #2c3e50;
}

code {
	background-color: #eee;
	padding: 2px 4px;
	border-radius: 4px;
	font-family: monospace;
}
